* { margin: 0; padding: 0; }
        
html, body {
    height: 100%;         /* required */
    font-family: "Arial";
}

div#content {
    width: 800px;
    height: 600px;
    position: absolute;
    margin: -300px 0px 0px -400px;
    top: 50%;
    left: 50%;
}